* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  color: #18191f;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.hero-section {
  background-image: url("images/Background.png");
  background-size: cover;
  background-position: center;
}

.hero-nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.hero-nav-left {
  display: flex;
}

.hero-nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: 32px;
}

.hero-nav-link > a {
  font-size: 14px;
  font-weight: 500;
}

.hero-main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.hero-main-left {
  padding-top: 120px;
}

.hero-main-title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 72px;
  font-weight: 800;
}

.hero-main-cta {
  display: inline-block;
  background-color: #8c30f5;
  color: white;
  padding: 12px 32px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 32px;
}

.logo-clouds {
  display: flex;
  padding: 16px 165px;
  justify-content: center;
  align-items: center;
  background: var(--default-white, #fff);
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 3px rgba(110, 109, 109, 0.5);
  gap: 24px;
  width: 1110px;
  height: 110px;
  top: 16px;
}

.logos {
  display: flex;
  justify-content: center;
  padding: 16px 0px;
  align-items: center;
  gap: 64px;
  margin-top: 16px;
  margin-left: 16px;
}
.testimonial-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
.testimonial-body {
  background-color: #d5fafc;
  background-size: cover;
  background-position: center;
  padding: 3em 0;
}

.testimonal-section-title-container {
  position: relative;
}

.testimonial-section-title {
  font-size: 48px;
  font-weight: 800;
  padding-left: 50px;
  width: 460px;
  margin-top: 50px;
  z-index: 3;
  position: relative;
}

.testimonial-section-title-quote {
  position: absolute;
  left: -46px;
  top: -59px;
  z-index: 1;
  opacity: 0.8;
}

.testimonial-description {
  font-size: 18px;
  font-weight: 400;
  padding-left: 50px;
  margin-top: 30px;
}
.hubspot-column {
  flex: 1;
  height: 360px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
  margin-top: 20px;
  margin-left: 140px;
}
.hubspot-logo {
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
}
.hubspot-contenct {
  margin-top: 30px;
  width: 300px;
}
.hubspot-layout {
  margin-top: 30px;
  margin-left: 40px;
}
.hubspot-feedback {
  color: #18191f;
  font-size: 18px;
  font-weight: 400;
  padding-left: 40px;
  margin-top: 10px;
}
.hubspot-gopro {
  color: #969bab;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin-top: 10px;
}
.hubspot-floyd-miles {
  color: #18191f;
  font-size: 18px;
  font-weight: 700;
}

.airbnb-column {
  border: 2px solid #fff;
  flex: 1;
  height: 270px;
  width: 400px;
  margin-top: 100px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
}
.airbnb-logo {
  margin-top: 20px;
  margin-left: 20px;
}
.airbnb-feedback {
  color: #18191f;
  font-size: 18px;
  font-weight: 400;
  width: 390px;
  margin-top: 20px;
  padding-left: 50px;
}
.airbnb-layout {
  margin-top: 20px;
  margin-left: 50px;
}
.airbnb-jane-cooper {
  color: #18191f;
  font-size: 18px;
  font-weight: 700;
}
.airbnb-ceo {
  color: #969bab;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}
.show-column {
  flex: 1;
  border: 2px solid #fff;
  margin-top: 50px;
  width: 300px;
  height: 250px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
}
.show-logo {
  margin-top: 20px;
  margin-left: 20px;
}
.show-feedback {
  color: #18191f;
  font-size: 18px;
  font-weight: 400;
  padding-left: 60px;
  margin-top: 20px;
}
.show-layout {
  margin-top: 30px;
  margin-left: 60px;
}
.show-kristin-watson {
  color: #18191f;
  font-size: 18px;
  font-weight: 700;
}
.show-co-founder {
  color: #969bab;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}
